[Unit]
Description=Start swww-daemon for Wayland
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swww-daemon -f xrgb
Restart=on-failure
RestartSec=5
Environment=RUST_BACKTRACE=1

[Install]
WantedBy=default.target   
